.header__container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__container {
    flex-direction: column;
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity ease 0.5s;
  }
}
