.auth {
  max-width: 358px;
  min-height: 463px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@media screen and (max-width: 767px) {
  .auth {
    margin: 20px auto;
    max-width: 260px;
    min-height: 316px;
  }
}
