.cards {
  max-width: 880px;
  min-height: 76vh;
  width: calc(880 / 1280 * 100%);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .cards {
    width: calc(969 / 1280 * 100%);
    min-height: 30vh;
  }
}

@media screen and (max-width: 415px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 282px;
    width: 100%;
  }
}
