.footer {
  max-width: 880px;
  width: calc(880 / 1280 * 100%);
  margin: 0 auto;
  padding: 67px 0 60px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 20px 0;
    max-width: 260px;
    width: 100%;
  }
}
