.profile__add-button {
  align-self: center;
  justify-content: end;
  max-width: 150px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  padding: 23px 0;
  background: url(../../../images/add-button.svg) center no-repeat;
  background-size: 22px;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: opacity 0.3s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

/* @media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 33px auto 0;
  }
} */

@media screen and (max-width: 767px) {
  .profile__add-button {
    max-width: 282px;
    width: calc(282 / 320 * 100%);
    margin: 15px auto 0;
    background-size: 6%;
  }
}
