.auth__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 0;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  transition: opacity 0.3s;
}

.auth__button:hover {
  opacity: 0.8;
}
