@media screen and (max-width: 767px) {
  .header__container_active {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding: 0 0 40px;
    top: 0;
    right: auto;
    width: 100%;
    max-width: 260px;
    visibility: visible;
    opacity: 1;
  }
}
