.header {
  max-width: 880px;
  width: calc(880 / 1280 * 100%);
  margin: 0 auto;
  padding: 45px 0 37px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    padding: 27px 0;
    max-width: 260px;
  }
}
